# Build folders
bin/
obj/

# Rider and IDE files
.idea/
.idea.*
*.iml
_ReSharper.Caches/

# NuGet
/packages/
*.nupkg

# App settings and config files
appsettings*.json

# User-specific and temp files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS folders
.vs/

# Cache folders
*.cache
